@import "../../variables";
@import "../../mixins";

.burger {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: $backgroundColor;
  top: 0;
  left: 0;
  z-index: 15;
  border: 2px solid $primaryColor;
  border-radius: 0.5em;
  width: 2.5em;
  height: 2.5em;
  margin: 0.6em;
  @include mobile {
    display: flex;
  }
  @include xsmobile {
    display: flex;
  }
  &:hover {
    cursor: pointer;
  }
  &__button {
    width: 66%;
    height: 66%;
    position: relative;
    overflow: hidden;
    &__bar {
      width: 100%;
      height: 15%;
      background-color: $primaryColor;
      border-radius: 3em;
      position: absolute;
      transition: all 300ms linear;
      &:nth-child(1) {
        top: 0;
      }
      &:nth-child(2) {
        top: 42.5%;
        background-color: $secondaryColor;
      }
      &:nth-child(3) {
        bottom: 0;
      }
    }
    &__arrows {
      width: 100%;
      height: 70%;
      color: $primaryColor;
      text-align: center;
      position: absolute;
      top: -125%;
      transition: all 300ms linear;
      .activeArrows {
        top: 0;
      }
    }
  }
}
header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: $backgroundColorA;
  -webkit-box-shadow: 0px 3px 15px 2px $primaryColor;
  box-shadow: 0px 3px 15px 2px $primaryColor;
  overflow: hidden;
  z-index: 10;
  transition: all 300ms linear;
  @include mobile {
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh) translateX(-100vw);
    transition: all 300ms linear;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 15%;
    box-shadow: none;
  }
  @include xsmobile {
    width: 100vw;
    height: 100vh;
    transform: translateY(-100vh) translateX(-100vw);
    transition: all 300ms linear;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 18%;
    box-shadow: none;
  }
  .logo {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__image {
      width: 100%;
    }
    @include mobile {
      width: 90%;
    }
    @include xsmobile {
      width: 90%;
    }
    h2 {
      color: $primaryColor;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
      @include smalldesk {
        font-size: 20px;
      }
      @include lores {
        font-size: 16px;
        font-weight: 500;
      }
      @include mobile {
        font-size: 22px;
      }
      @include xsmobile {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }

  .navmenu {
    width: 66%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    @include mobile {
      width: 90%;
      height: 100%;
    }
    @include xsmobile {
      width: 90%;
      height: 100%;
    }
    &__list {
      width: 100%;
      color: $primaryColor;
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      list-style-type: none;
      @include smalldesk {
        font-size: 20px;
      }
      @include lores {
        font-size: 16px;
      }
      @include mobile {
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
      @include xsmobile {
        flex-direction: column;
        align-items: center;
        height: 100%;
      }
      padding: 0;
      &__unique {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out;
        position: relative;
        i {
          font-size: 20px;
          margin-right: 10px;
          @include lores {
            font-size: 18px;
          }
        }
        p {
          font-family: "Bungee", cursive;
          font-size: 24px;
          @include smalldesk {
            font-size: 20px;
          }
          @include lores {
            font-size: 18px;
          }
        }
        &__big {
          transition: all 150ms ease-out;
          i {
            font-size: 36px;
            margin-right: 10px;
            @include smalldesk {
              font-size: 32px;
            }
            @include lores {
              font-size: 24px;
            }
          }
          &:hover {
            cursor: pointer;
            text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
            transform: scale(1.1);
            @include lores {
              text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
            }
            @include mobile {
              text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
            }
            @include xsmobile {
              text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
            }
            i {
              transform: scale(1.1);
            }
            &::before {
              opacity: 1;
            }
          }
          &::before {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 120%;
            left: 0;
            width: 100%;
            height: 40%;
            transition: all 75ms linear;
            opacity: 0;
            background: linear-gradient(
              0deg,
              $primaryColor 50%,
              $secondaryColor 100%
            );
            transform: perspective(2em) rotateX(40deg) scale(0.7, 0.4);
            filter: blur(1.5em);
          }
        }
        &:hover {
          cursor: pointer;
          text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
          transform: scale(1.1);
          @include lores {
            text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
          }
          @include mobile {
            text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
          }
          @include mobile {
            text-shadow: 0 0 15px $primaryColor, 0 0 2px $secondaryColor;
          }
          &::before {
            opacity: 1;
          }
        }
        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          top: 120%;
          left: 0;
          width: 100%;
          height: 40%;
          transition: all 75ms linear;
          opacity: 0;
          background: linear-gradient(
            0deg,
            $primaryColor 50%,
            $secondaryColor 100%
          );
          transform: perspective(2em) rotateX(40deg) scale(0.7, 0.4);
          filter: blur(1.5em);
        }
      }
    }
  }
}
