@import "../../variables";

header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  position: fixed;
  top: 0;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: $backgroundColorA;
  -webkit-box-shadow: 0px 3px 15px 2px $primaryColor;
  box-shadow: 0px 3px 15px 2px $primaryColor;
  overflow: hidden;
  z-index: 10;

  .logo {
    width: 33%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__image {
      width: 100%;
    }
    h2 {
      color: $primaryColor;
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 5px;
    }
  }

  .navmenu {
    width: 75%;
    color: white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__list {
      width: 100%;
      color: $primaryColor;
      font-size: 24px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      list-style-type: none;
      padding: 0;
      &__unique {
        font-family: "Bungee", cursive;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 150ms ease-out;
        -o-transition: all 150ms ease-out;
        transition: all 150ms ease-out;
        i {
          font-size: 20px;
          margin-right: 10px;
        }
        &__big {
          transition: all 150ms ease-out;
          i {
            font-size: 36px;
            margin-right: 10px;
          }
          &:hover {
            cursor: pointer;
            text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
            transform: scale(1.1);
            i {
              transform: scale(1.1);
            }
            &::before {
              opacity: 1;
            }
          }
          &::before {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 120%;
            left: 0;
            width: 100%;
            height: 40%;
            transition: all 75ms linear;
            opacity: 0;
            background: linear-gradient(
              0deg,
              $primaryColor 50%,
              $secondaryColor 100%
            );
            transform: perspective(2em) rotateX(40deg) scale(0.7, 0.4);
            filter: blur(1.5em);
          }
        }
        &:hover {
          cursor: pointer;
          text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
          transform: scale(1.1);
          i {
            transform: scale(1.1);
          }
          &::before {
            opacity: 1;
          }
        }
        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          top: 120%;
          left: 0;
          width: 100%;
          height: 40%;
          transition: all 75ms linear;
          opacity: 0;
          background: linear-gradient(
            0deg,
            $primaryColor 50%,
            $secondaryColor 100%
          );
          transform: perspective(2em) rotateX(40deg) scale(0.7, 0.4);
          filter: blur(1.5em);
        }
      }
    }
  }
}
