<div class="burger" (click)="toggleMenu()">
  <div class="burger__button">
    <div class="burger__button__bar" id="bar1"></div>
    <div class="burger__button__bar" id="bar2"></div>
    <div class="burger__button__bar" id="bar3"></div>
    <div class="burger__button__arrows" id="burgerArrows">
      <i class="fa-solid fa-down-left-and-up-right-to-center"></i>
    </div>
  </div>
</div>

<header *ngIf="menuToggle" id="header">
  <!-- Main logo -->
  <div class="logo">
    <img
      class="logo__image"
      src="../../assets/logo_screenlovers.png"
      alt="screenlovers logo"
    />
    <h2>(Re)découvrez le cinéma</h2>
  </div>

  <nav class="navmenu">
    <!-- Navigation links -->
    <ul class="navmenu__list">
      <li class="navmenu__list__unique" (click)="onHomePage()">
        <i class="fa-solid fa-ticket"></i>
        <p>ACCUEIL</p>
      </li>
      <li class="navmenu__list__unique__big" (click)="onDiscover()">
        <i class="fa-solid fa-circle-question"></i>
      </li>
      <li class="navmenu__list__unique__big" (click)="onSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </li>
      <li class="navmenu__list__unique" (click)="onContact()">
        <i class="fa-solid fa-envelope"></i>
        <p>CONTACT</p>
      </li>
    </ul>
  </nav>
</header>
