<header>
  <!-- Main logo -->
  <div class="logo">
    <img
      class="logo__image"
      src="../../assets/logo_screenlovers.png"
      alt="clapperboard logo"
    />
    <h2>(Re)découvrez le cinéma</h2>
  </div>

  <nav class="navmenu">
    <!-- Navigation links -->
    <ul class="navmenu__list">
      <li class="navmenu__list__unique" (click)="onHomePage()">
        <i class="fa-solid fa-ticket"></i>ACCUEIL
      </li>
      <li class="navmenu__list__unique__big" (click)="onDiscover()">
        <i class="fa-solid fa-circle-question"></i>
      </li>
      <li class="navmenu__list__unique__big" (click)="onSearch()">
        <i class="fa-solid fa-magnifying-glass"></i>
      </li>
      <li class="navmenu__list__unique">
        <i class="fa-solid fa-envelope"></i>CONTACT
      </li>
    </ul>
  </nav>
</header>
