@import "../../variables";
@import "../../mixins";

.contact {
  width: 100%;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include smalldesk {
    padding: 12% 0;
  }
  @include lores {
    padding: 13% 0;
  }
  &__message {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      color: $primaryColor;
      font-size: 52px;
      font-weight: 800;
      text-align: center;
      text-decoration: underline;
      margin-bottom: 0.5em;
      @include smalldesk {
        font-size: 48px;
        font-weight: 700;
      }
      @include lores {
        font-size: 48px;
        font-weight: 700;
      }
    }
    p {
      font-size: 22px;
      font-weight: 500;
      color: white;
      text-align: justify;
      strong {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      @include smalldesk {
        font-size: 20px;
      }
      @include lores {
        font-size: 18px;
      }
    }
  }
  &__links {
    margin-top: 1em;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    &__unique {
      margin-top: 2em;
      width: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: left;
      align-items: center;
      gap: 2.5em;
      i {
        color: $primaryColor;
        font-size: 48px;
        @include smalldesk {
          font-size: 42px;
        }
        @include lores {
          font-size: 38px;
        }
      }
      a {
        text-decoration: none;
        color: white;
        font-size: 24px;
        position: relative;
        transition: all 100ms;
        transform: scale(1);
        @include smalldesk {
          font-size: 22px;
        }
        @include lores {
          font-size: 20px;
        }
        &::before {
          pointer-events: none;
          content: "";
          position: absolute;
          top: 130%;
          left: 0;
          width: 100%;
          height: 30%;
          transition: all 100ms linear;
          opacity: 0;
          background: linear-gradient(
            0deg,
            $primaryColor 50%,
            $secondaryColor 100%
          );
          transform: perspective(2em) rotateX(40deg) scale(0.7, 0.4);
          filter: blur(1.5em);
        }
      }
      &:hover {
        cursor: pointer;
        a {
          color: $primaryColor;
          text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
          transform: scale(1.05);
          @include lores {
            transform: scale(1.03);
          }
          &::before {
            opacity: 1;
          }
        }
      }
    }
  }
}
