<div class="singlePeople">
  <div class="singlePeople__block" *ngIf="uniquePeople$ | async as people">
    <h3 class="singlePeople__block__name">{{ people.name }}</h3>
    <div class="singlePeople__block__card">
      <div class="singlePeople__block__card__profile">
        <img
          [src]="posterUrl + people.profile_path"
          *ngIf="people.profile_path"
        />
        <p *ngIf="!people.profile_path">Aucune photo disponible</p>
      </div>
      <div class="singlePeople__block__card__description">
        <p *ngIf="people.birthday && people.gender === 2">
          Né le: {{ people.birthday | date : "d MMMM yyyy" }}
        </p>
        <p *ngIf="people.birthday && people.gender != 2">
          Née le: {{ people.birthday | date : "d MMMM yyyy" }}
        </p>
        <p *ngIf="people.place_of_birth">{{ people.place_of_birth }}</p>
        <p *ngIf="people.deathday">
          Décès: {{ people.deathday | date : "d MMMM yyyy" }}
        </p>
        <br />
        <p
          class="singlePeople__block__card__description__bio"
          *ngIf="people.biography"
        >
          {{ people.biography }}
        </p>
        <p>Films notables:</p>
        <div
          class="singlePeople__block__card__description__movies"
          *ngIf="
            (people.known_for_department === 'Acting'
              ? uniquePeopleMoviesCast$
              : people.known_for_department === 'Directing'
              ? uniquePeopleMoviesDirecting$
              : uniquePeopleMoviesWriting$
            ) | async as movies
          "
        >
          <div
            class="singlePeople__block__card__description__movies__unique"
            *ngFor="let movie of movies"
          >
            <div
              class="singlePeople__block__card__description__movies__unique__poster"
              (click)="onGetUniqueMovie(movie.id)"
            >
              <img
                [src]="
                  movie.poster_path
                    ? posterUrl + movie.poster_path
                    : 'assets/default_poster.png'
                "
                title="{{ movie.title }}"
              />
            </div>
          </div>
        </div>
        <div
          class="singlePeople__block__card__description__allMovies"
          (click)="onGetAllMovies(people.id)"
        >
          <p>
            <i class="fa-solid fa-angle-right"></i> Filmographie complète
            <i class="fa-solid fa-angle-left"></i>
          </p>
        </div>
      </div>
    </div>
    <div
      class="singlePeople__block__images"
      *ngIf="uniquePeopleImages$ | async as images"
    >
      <p>Galerie:</p>
      <p *ngIf="images.profiles.length < 1">Aucune photo disponible</p>
      <div
        class="singlePeople__block__images__gallery"
        *ngIf="images.profiles.length > 0"
      >
        <div
          class="singlePeople__block__images__gallery__unique"
          *ngFor="let image of images.profiles"
        >
          <img
            [src]="posterUrl + image.file_path"
            [routerLink]="'/viewimage/' + people.id + '/' + image.file_path"
          />
        </div>
      </div>
    </div>
    <div class="singlePeople__block__tmdbLink">
      Consulter la fiche
      <a
        class="singlePeople__block__tmdbLink__logo"
        [href]="'https://www.themoviedb.org/person/' + people.id"
        target="_blank"
      >
        <img src="assets/logo_tmdb.svg" alt="tmdb logo" />
      </a>
    </div>
  </div>
</div>
