@import "../../variables";
@import "../../mixins";

.allMovies {
  padding: 10% 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  @include smalldesk {
    padding: 12% 0;
  }
  @include lores {
    padding: 12% 0;
  }
  @include mobile {
    padding: 15% 0 22% 0;
  }
  @include xsmobile {
    padding: 15% 0 22% 0;
  }
  &__peopleName {
    margin-bottom: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      color: $primaryColor;
      font-size: 52px;
      font-weight: 800;
      text-align: center;
      text-decoration: underline;
      @include smalldesk {
        font-size: 48px;
        font-weight: 700;
      }
      @include lores {
        font-size: 48px;
        font-weight: 600;
      }
      @include mobile {
        font-size: 42px;
      }
      @include xsmobile {
        font-size: 36px;
      }
    }
    p {
      width: fit-content;
      color: $primaryColor;
      font-size: 38px;
      font-weight: 700;
      text-align: center;
      user-select: none;
      transition: all 100ms ease-in-out;
      @include smalldesk {
        font-size: 36px;
      }
      @include lores {
        font-size: 32px;
        font-weight: 600;
      }
      @include mobile {
        font-size: 28px;
        font-weight: 500;
      }
      @include xsmobile {
        font-size: 24px;
        font-weight: 500;
      }
      &:hover {
        cursor: pointer;
        text-shadow: 0 0 25px $primaryColor, 0 0 3px $secondaryColor;
      }
    }
  }

  &__results {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__cast {
      display: flex;
      flex-direction: column;
      width: 95%;
      &__unique {
        width: 100%;
        background-color: $primaryColor;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-top: 10px solid $backgroundColor;
        border-bottom: 10px solid $backgroundColor;
        transition: all 150ms ease-in-out;
        @include lores {
          flex-direction: column;
        }
        @include mobile {
          flex-direction: column;
        }
        @include xsmobile {
          flex-direction: column;
        }
        &:hover {
          cursor: pointer;
          background-color: $backgroundColor;
          color: $primaryColor;
          img {
            transform: scale(1.25);
          }
        }
        &__poster {
          width: 10%;
          border-right: 15px solid $backgroundColor;
          overflow: hidden;
          @include lores {
            width: 20%;
            border-right: none;
          }
          @include mobile {
            width: 50%;
            border-right: none;
          }
          @include xsmobile {
            width: 50%;
            border-right: none;
          }
          img {
            width: 100%;
            transform: scale(1.1);
            transform-origin: top;
            transition: all 250ms ease-in-out;
          }
        }
        &__title {
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 32px;
          font-weight: 700;
          padding: 0 1em;
          overflow: hidden;
          @include smalldesk {
            font-size: 28px;
            font-weight: 600;
          }
          @include lores {
            font-size: 26px;
            font-weight: 600;
          }
          @include mobile {
            font-size: 22px;
            font-weight: 500;
          }
          @include xsmobile {
            font-size: 20px;
            font-weight: 500;
          }
          p {
            text-align: center;
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            @include mobile {
              overflow: auto;
              text-overflow: inherit;
              white-space: normal;
            }
            @include xsmobile {
              overflow: auto;
              text-overflow: inherit;
              white-space: normal;
            }
          }
        }
        &__releaseDate {
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: center;
          font-size: 30px;
          font-weight: 600;
          text-align: center;
          @include smalldesk {
            font-size: 26px;
            font-weight: 500;
          }
          @include lores {
            font-size: 26px;
            font-weight: 500;
          }
          @include mobile {
            font-size: 22px;
            font-weight: 400;
          }
          @include xsmobile {
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
