@import "./variables";

* {
  box-sizing: border-box;
  font-family: "Sono", monospace;
  margin: 0;
  line-height: 1.25em;
}
body {
  background-color: $backgroundColor;
  margin: 0;
  position: relative;
  min-height: 100vh;
  box-shadow: 0px -100px 25px -60px $primaryColor inset;
}

strong {
  color: $primaryColor;
}
