@import "./variables";
@import "./mixins";
@import "./keyframes";
@import "./app/app.component.scss";
@import "./app/allmovies/allmovies.component.scss";
@import "./app/contact/contact.component.scss";
@import "./app/footer/footer.component.scss";
@import "./app/header/header.component.scss";
@import "./app/home-page/home-page.component.scss";
@import "./app/landing-page/landing-page.component.scss";
@import "./app/loader/loader.component.scss";
@import "./app/search/search.component.scss";
@import "./app/single-movie/single-movie.component.scss";
@import "./app/single-people/single-people.component.scss";
@import "./app/view-image/view-image.component.scss";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Sono", monospace;
  margin: 0;
  line-height: $lineHeight;
  // Firefox custom scrollbar
  scrollbar-width: thin;
  scrollbar-color: $primaryColor $backgroundColor;
}

body {
  background-color: $backgroundColor;
  margin: 0;
  position: relative;
  min-height: 100vh;
  // Firefox custom scrollbar
  scrollbar-width: thin;
  scrollbar-color: $primaryColor $backgroundColor;
  // Webkit custom scrollbar
  &::-webkit-scrollbar {
    width: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $primaryColor;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $backgroundColor;
    border: 3px solid $primaryColor;
    -webkit-box-shadow: inset 0 0 2px $primaryColor;
    box-shadow: inset 0 0 5px $primaryColor;
  }
  @include mobile {
    padding-bottom: 20%;
  }
  @include xsmobile {
    padding-bottom: 20%;
  }
}

strong {
  color: $primaryColor;
}
