@import "./variables";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Sono", monospace;
  margin: 0;
  line-height: $lineHeight;
}

body {
  background-color: $backgroundColor;
  margin: 0;
  position: relative;
  min-height: 100vh;
  -webkit-box-shadow: 0px -100px 25px -60px $primaryColor inset;
  box-shadow: 0px -100px 25px -75px $primaryColor inset;
  // Firefox custom scrollbar
  scrollbar-width: thin;
  scrollbar-color: $primaryColor $backgroundColor;
  // Webkit custom scrollbar
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background: $backgroundColor;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $backgroundColor;
    border: 3px solid $primaryColor;
    -webkit-box-shadow: inset 0 0 5px $primaryColor;
    box-shadow: inset 0 0 5px $primaryColor;
  }
}

strong {
  color: $primaryColor;
}
