<div class="search">
  <form class="search__form">
    <!-- Form block with choice of searching movie or people -->
    <fieldset class="search__form__choice">
      <legend>Recherchez-vous un film ou une personnalité ?</legend>
      <div class="search__form__choice__radio">
        <input
          type="radio"
          id="movie"
          name="choice"
          value="movie"
          checked
          (change)="choiceChanger($event)"
        />
        <label for="movie" class="search__form__choice__radio__movieLabel"
          >Film</label
        >
        <input
          type="radio"
          id="people"
          name="choice"
          value="people"
          (change)="choiceChanger($event)"
        />
        <label for="people">Personnalité</label>
      </div>
      <input
        type="text"
        class="search__form__choice__text"
        placeholder="Votre recherche ici"
        rows="1"
        cols="50"
        (change)="textChanger($event)"
      />
      <button
        class="search__form__choice__submit"
        type="submit"
        (click)="search(1)"
      >
        Rechercher
      </button>
    </fieldset>
  </form>

  <div class="search__results">
    <!-- Search results for movies -->

    <div class="search__results__movies" *ngIf="selectedChoice === 'movie'">
      <div
        class="search__results__movies__list"
        *ngIf="movieSearch$ | async as movieList"
      >
        <!-- Checks if no results are sent -->
        <div
          class="search__results__none"
          *ngIf="movieList.total_results === 0"
        >
          Aucun résultat pour cette recherche
        </div>
        <div
          class="search__results__movies__list__unique"
          *ngFor="let movie of movieList.results"
          (click)="onGetMovie(movie.id)"
        >
          <div class="search__results__movies__list__unique__poster">
            <img
              [src]="
                movie.poster_path
                  ? posterUrl + movie.poster_path
                  : '../assets/default_poster.png'
              "
            />
          </div>
          <div class="search__results__movies__list__unique__title">
            <p>{{ movie.title }}</p>
            <p>{{ movie.release_date | date : "yyyy" }}</p>
          </div>
        </div>
        <div
          class="search__results__movies__pageNav"
          *ngIf="movieList.total_pages > 1"
        >
          <div
            class="search__results__movies__pageNav__start"
            *ngIf="movieList.page > 1"
            (click)="search(1)"
          >
            <i class="fa-solid fa-backward-fast"></i>
          </div>
          <div
            class="search__results__movies__pageNav__prev"
            *ngIf="movieList.page > 1"
            (click)="search(movieList.page - 1)"
          >
            <i class="fa-solid fa-backward-step"></i>
          </div>
          <div
            class="search__results__movies__pageNav__next"
            *ngIf="movieList.page < movieList.total_pages"
            (click)="search(movieList.page + 1)"
          >
            <i class="fa-solid fa-forward-step"></i>
          </div>
          <div
            class="search__results__movies__pageNav__end"
            *ngIf="movieList.page < movieList.total_pages"
            (click)="search(movieList.total_pages)"
          >
            <i class="fa-solid fa-forward-fast"></i>
          </div>
        </div>
      </div>
    </div>

    <!-- Search results for people -->
    <div class="search__results__people" *ngIf="selectedChoice === 'people'">
      <div
        class="search__results__people__list"
        *ngIf="peopleSearch$ | async as peopleList"
      >
        <!-- Checks if no results are sent -->
        <div
          class="search__results__none"
          *ngIf="peopleList.total_results === 0"
        >
          Aucun résultat pour cette recherche
        </div>
        <div
          class="search__results__people__list__unique"
          *ngFor="let people of peopleList.results"
          (click)="onGetPeople(people.id)"
        >
          <div class="search__results__people__list__unique__poster">
            <img
              [src]="
                people.profile_path
                  ? posterUrl + people.profile_path
                  : '../assets/default_profile.png'
              "
            />
          </div>
          <div class="search__results__people__list__unique__title">
            <p>{{ people.name }}</p>
            <div
              class="search__results__people__list__unique__title__movies"
              *ngIf="people.known_for[0].poster_path"
            >
              <div
                class="search__results__people__list__unique__title__movies__unique"
                *ngFor="let movie of people.known_for; let i = index"
              >
                <img
                  *ngIf="i < 3 && movie.media_type === 'movie'"
                  [src]="
                    movie.poster_path
                      ? posterUrl + movie.poster_path
                      : '../assets/default_poster.png'
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div
          class="search__results__people__pageNav"
          *ngIf="peopleList.total_pages > 1"
        >
          <div
            class="search__results__people__pageNav__start"
            *ngIf="peopleList.page > 1"
            (click)="search(1)"
          >
            <i class="fa-solid fa-backward-fast"></i>
          </div>
          <div
            class="search__results__people__pageNav__prev"
            *ngIf="peopleList.page > 1"
            (click)="search(peopleList.page - 1)"
          >
            <i class="fa-solid fa-backward-step"></i>
          </div>
          <div
            class="search__results__people__pageNav__next"
            *ngIf="peopleList.page < peopleList.total_pages"
            (click)="search(peopleList.page + 1)"
          >
            <i class="fa-solid fa-forward-step"></i>
          </div>
          <div
            class="search__results__people__pageNav__end"
            *ngIf="peopleList.page < peopleList.total_pages"
            (click)="search(peopleList.total_pages)"
          >
            <i class="fa-solid fa-forward-fast"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
