<div class="singleMovie" *ngIf="uniqueMovie$ | async as movie">
  <!-- Movie title and release date -->
  <h3 class="singleMovie__title">{{ movie.title }}</h3>
  <div
    class="singleMovie__subTitle"
    *ngIf="uniqueMovieCredits$ | async as movieCredits"
  >
    <span class="singleMovie__subTitle__date">
      sortie le: {{ movie.release_date | date : "d MMMM yyyy" }}</span
    >
  </div>
  <!-- Main movie features (with the ticket design) -->
  <div class="singleMovie__block">
    <div class="singleMovie__block__leftPick"></div>
    <div class="singleMovie__block__rightPick"></div>

    <div class="singleMovie__block__poster">
      <img
        class="singleMovie__block__poster__image"
        [src]="
          movie.poster_path
            ? posterUrl + movie.poster_path
            : '../../assets/default_poster.png'
        "
      />
      <!-- Determining the star icons to display from the average vote -->
      <div class="singleMovie__block__poster__rating">
        <i
          class="fa-solid fa-star-half"
          *ngIf="movie.vote_average > 0 && movie.vote_average < 1"
        ></i>
        <i class="fa-solid fa-star" *ngIf="movie.vote_average >= 1"></i>
        <i
          class="fa-solid fa-star-half"
          *ngIf="movie.vote_average >= 2 && movie.vote_average < 3"
        ></i>
        <i class="fa-solid fa-star" *ngIf="movie.vote_average >= 3"></i>
        <i
          class="fa-solid fa-star-half"
          *ngIf="movie.vote_average > 4 && movie.vote_average < 5"
        ></i>
        <i class="fa-solid fa-star" *ngIf="movie.vote_average >= 5"></i>
        <i
          class="fa-solid fa-star-half"
          *ngIf="movie.vote_average > 6 && movie.vote_average < 7"
        ></i>
        <i class="fa-solid fa-star" *ngIf="movie.vote_average >= 7"></i>
        <i
          class="fa-solid fa-star-half"
          *ngIf="movie.vote_average > 8 && movie.vote_average < 9"
        ></i>
        <i class="fa-solid fa-star" *ngIf="movie.vote_average >= 9"></i>
      </div>
    </div>
    <!-- Movie description -->
    <div class="singleMovie__block__description">
      <!-- Movie overview (if available) -->
      <p class="singleMovie__block__description__overview">
        {{ movie.overview }}
      </p>
      <!-- Movie production companies (if available) -->
      <div
        class="singleMovie__block__description__production"
        *ngIf="movie.production_companies.length > 0"
      >
        <div class="singleMovie__block__description__production__producers">
          <div
            class="singleMovie__block__description__production__producers__list"
            *ngFor="let producer of movie.production_companies"
          >
            <!-- If no logo is available, displays only the production company name -->
            <img
              *ngIf="producer.logo_path"
              [src]="posterUrl + producer.logo_path"
              [alt]="producer.name + ' logo'"
            />
            <p *ngIf="!producer.logo_path">{{ producer.name }}</p>
          </div>
        </div>
      </div>
      <!-- Displays production countries (with flags) and genres associated to the movie -->
      <div class="singleMovie__block__description__countries">
        <div
          class="singleMovie__block__description__countries__list"
          *ngFor="let country of movie.production_countries"
        >
          <img
            [src]="'../../assets/flags/128x128/' + country.iso_3166_1 + '.png'"
            title="{{ country.name }}"
          />
        </div>
        <div class="singleMovie__block__description__countries__genres">
          <h6 *ngFor="let genre of movie.genres">{{ genre.name }}</h6>
        </div>
      </div>
    </div>
  </div>

  <!-- Displays directors and writers -->
  <div class="singleMovie__crew">
    <div
      class="singleMovie__crew__list"
      *ngIf="uniqueMovieCrew$ | async as movieCrew"
    >
      <h5>Réalisation:</h5>
      <div class="singleMovie__crew__list__members">
        <div
          class="singleMovie__crew__list__members__unique"
          *ngFor="let movieCrewMember of movieCrew; let i = index"
        >
          <!-- Limiting display to 3 members, modified by clicking the crew toggle link -->
          <div
            class="singleMovie__crew__list__members__unique__card"
            *ngIf="crewToggle ? i < 100 : i < 3"
            (click)="onGetPeople(movieCrewMember.id)"
          >
            <div
              class="singleMovie__crew__list__members__unique__card__profile"
            >
              <img
                class="singleMovie__crew__list__members__unique__card__profile__image"
                [src]="
                  movieCrewMember.profile_path
                    ? posterUrl + movieCrewMember.profile_path
                    : '../../assets/default_profile.png'
                "
              />
            </div>

            <p class="singleMovie__crew__list__members__unique__card__name">
              {{ movieCrewMember.name }}
            </p>
          </div>
        </div>
      </div>
      <!-- Crew toggle link, displayed only if there's more than 3 directors -->
      <p class="seeMore" (click)="seeMoreCrew()" *ngIf="movieCrew.length > 3">
        {{ crewToggle ? "Voir moins..." : "Voir plus..." }}
      </p>
    </div>

    <div
      class="singleMovie__crew__list"
      *ngIf="uniqueMovieWriters$ | async as movieWriters"
    >
      <h5>Ecriture:</h5>
      <div class="singleMovie__crew__list__members">
        <div
          class="singleMovie__crew__list__members__unique"
          *ngFor="let movieWriter of movieWriters; let i = index"
        >
          <!-- Limiting display to 3 members, modified by clicking the crew toggle link -->
          <div
            class="singleMovie__crew__list__members__unique__card"
            *ngIf="writersToggle ? i < 100 : i < 3"
            (click)="onGetPeople(movieWriter.id)"
          >
            <div
              class="singleMovie__crew__list__members__unique__card__profile"
            >
              <img
                class="singleMovie__crew__list__members__unique__card__profile__image"
                [src]="
                  movieWriter.profile_path
                    ? posterUrl + movieWriter.profile_path
                    : '../../assets/default_profile.png'
                "
              />
            </div>

            <p class="singleMovie__crew__list__members__unique__card__name">
              {{ movieWriter.name }}
            </p>
          </div>
        </div>
      </div>
      <!-- Crew toggle link, displayed only if there's more than 3 writers -->
      <p
        class="seeMore"
        (click)="seeMoreWriters()"
        *ngIf="movieWriters.length > 3"
      >
        {{ writersToggle ? "Voir moins..." : "Voir plus..." }}
      </p>
    </div>
  </div>

  <!--  Displays actors -->
  <div class="singleMovie__crew">
    <div
      class="singleMovie__crew__list"
      *ngIf="uniqueMovieCredits$ | async as movieCredits"
    >
      <h5>Distribution:</h5>
      <div class="singleMovie__crew__list__members">
        <div
          class="singleMovie__crew__list__members__unique"
          *ngFor="let movieCast of movieCredits.cast; let i = index"
        >
          <!-- Same as directors, displaying only 8 members (toggled by castToggle) -->
          <div
            class="singleMovie__crew__list__members__unique__card"
            *ngIf="castToggle ? i < 100 : i < 8"
            (click)="onGetPeople(movieCast.id)"
          >
            <div
              class="singleMovie__crew__list__members__unique__card__profile"
            >
              <img
                class="singleMovie__crew__list__members__unique__card__profile__image"
                [src]="
                  movieCast.profile_path
                    ? posterUrl + movieCast.profile_path
                    : '../../assets/default_profile.png'
                "
              />
            </div>

            <p class="singleMovie__crew__list__members__unique__card__name">
              {{ movieCast.name }}
            </p>
          </div>
        </div>
      </div>
      <!-- Link to toggle actors display (from 8 to all) -->
      <p
        class="seeMore"
        (click)="seeMoreCast()"
        *ngIf="movieCredits.cast.length > 8"
      >
        {{ castToggle ? "Voir moins..." : "Voir plus..." }}
      </p>
    </div>
  </div>

  <!-- Media block -->
  <div class="singleMovie__media">
    <h5>Médias:</h5>
    <div class="singleMovie__media__block">
      <div class="singleMovie__media__block__tabsBlock">
        <div
          class="singleMovie__media__block__tabsBlock__tab"
          (click)="tabToggle('trailer')"
          [ngClass]="
            trailerToggle
              ? 'singleMovie__media__block__tabsBlock__tab__active'
              : 'singleMovie__media__block__tabsBlock__tab'
          "
        >
          Bande-Annonce
        </div>
        <div
          class="singleMovie__media__block__tabsBlock__tab"
          (click)="tabToggle('posters')"
          [ngClass]="
            postersToggle
              ? 'singleMovie__media__block__tabsBlock__tab__active'
              : 'singleMovie__media__block__tabsBlock__tab'
          "
        >
          Affiches
        </div>
        <div
          class="singleMovie__media__block__tabsBlock__tab"
          (click)="tabToggle('wallpapers')"
          [ngClass]="
            wallpapersToggle
              ? 'singleMovie__media__block__tabsBlock__tab__active'
              : 'singleMovie__media__block__tabsBlock__tab'
          "
        >
          Fonds d'écran
        </div>
      </div>
      <div class="singleMovie__media__block__content">
        <div
          class="singleMovie__media__block__content__trailer"
          *ngIf="uniqueMovieTrailer$ | async as movieTrailer"
          [ngClass]="
            trailerToggle
              ? 'singleMovie__media__block__content__trailer'
              : 'singleMovie__media__block__content__trailer__inactive'
          "
        >
          <iframe
            [src]="
              movieTrailer.length > 0
                ? (trailerUrl + movieTrailer[0].key | safe)
                : ('../../assets/unavailable_video.png' | safe)
            "
            frameBorder="0"
            allowfullscreen
          ></iframe>
          <span *ngIf="movieTrailer.length <= 0">Vidéo indisponible</span>
          <p *ngIf="movieTrailer.length <= 0">
            Rechercher sur &nbsp;
            <a [href]="youtubeSearchUrl + movie.title | safe" target="_blank"
              ><i class="fa-brands fa-youtube"></i>Youtube</a
            >
          </p>
        </div>
        <div
          class="singleMovie__media__block__content__posters"
          *ngIf="uniqueMoviePosters$ | async as moviePosters"
          [ngClass]="
            postersToggle
              ? 'singleMovie__media__block__content__posters'
              : 'singleMovie__media__block__content__posters__inactive'
          "
        >
          <div
            *ngFor="let poster of moviePosters"
            class="singleMovie__media__block__content__posters__unique"
          >
            <img
              [src]="posterUrl + poster.file_path"
              [routerLink]="'/viewimage/' + movie.id + '/' + poster.file_path"
            />
          </div>
          <span *ngIf="moviePosters.length <= 0"
            >Aucune affiche disponible</span
          >
        </div>
        <div
          class="singleMovie__media__block__content__wallpapers"
          *ngIf="uniqueMovieWallpapers$ | async as movieWallpapers"
          [ngClass]="
            wallpapersToggle
              ? 'singleMovie__media__block__content__wallpapers'
              : 'singleMovie__media__block__content__wallpapers__inactive'
          "
        >
          <div
            *ngFor="let wallpaper of movieWallpapers"
            class="singleMovie__media__block__content__wallpapers__unique"
          >
            <img
              [src]="posterUrl + wallpaper.file_path"
              [routerLink]="
                '/viewimage/' + movie.id + '/' + wallpaper.file_path
              "
            />
          </div>
          <span *ngIf="movieWallpapers.length <= 0"
            >Aucun fond d'écran disponible</span
          >
        </div>
      </div>
    </div>
  </div>
</div>
