@import "../../variables";
@import "../../mixins";

.singleMovie {
  width: 100%;
  z-index: -2;
  padding: 10% 0;
  @include smalldesk {
    padding: 12% 0;
  }
  @include lores {
    padding: 13% 0;
  }
  @include mobile {
    padding: 15% 0 33% 0;
  }
  @include xsmobile {
    padding: 15% 0 33% 0;
  }
  &__title {
    color: $primaryColor;
    font-size: 80px;
    text-align: center;
    @include smalldesk {
      font-size: 72px;
    }
    @include lores {
      font-size: 60px;
    }
    @include mobile {
      font-size: 52px;
    }
    @include xsmobile {
      font-size: 48px;
    }
  }
  &__subTitle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    &__text {
      text-indent: 0.5em;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 500;
      @include smalldesk {
        font-size: 22px;
      }
      @include lores {
        font-size: 20px;
      }
      @include mobile {
        font-size: 20px;
      }
      @include xsmobile {
        font-size: 18px;
      }
    }
    span {
      text-indent: 0.5em;
      color: white;
      text-align: center;
      margin-bottom: 20px;
      font-size: 24px;
      font-weight: 300;
      @include smalldesk {
        font-size: 22px;
      }
      @include lores {
        font-size: 20px;
      }
      @include mobile {
        font-size: 20px;
      }
      @include xsmobile {
        font-size: 18px;
      }
    }
  }

  &__block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    background-color: $primaryColor;
    padding: 0 75px;
    position: relative;
    overflow: hidden;
    @include lores {
      padding: 70px 0;
      align-items: flex-start;
    }
    @include mobile {
      padding: 70px 0;
      align-items: center;
      flex-direction: column;
    }
    @include xsmobile {
      padding: 50px 0;
      align-items: center;
      flex-direction: column;
    }
    &__leftPick {
      position: absolute;
      top: 25%;
      left: -55px;
      background-color: $backgroundColor;
      border-radius: 50%;
      width: 100px;
      height: 50%;
      @include lores {
        width: 90px;
        height: 40%;
        transform: rotate(90deg);
        top: -20%;
        left: 45%;
      }
      @include mobile {
        width: 75px;
        height: 30%;
        transform: rotate(90deg);
        top: -16%;
        left: 40%;
      }
      @include xsmobile {
        width: 75px;
        height: 25%;
        transform: rotate(90deg);
        top: -13.5%;
        left: 38%;
      }
    }
    &__rightPick {
      position: absolute;
      top: 25%;
      right: -55px;
      background-color: $backgroundColor;
      border-radius: 50%;
      width: 100px;
      height: 50%;
      @include lores {
        width: 90px;
        height: 40%;
        transform: rotate(-90deg);
        top: 80%;
        left: 45%;
      }
      @include mobile {
        width: 75px;
        height: 30%;
        transform: rotate(-90deg);
        top: 86%;
        left: 40%;
      }
      @include xsmobile {
        width: 75px;
        height: 25%;
        transform: rotate(-90deg);
        top: 88.5%;
        left: 38%;
      }
    }

    &__poster {
      width: 25%;
      border-right: dashed 8px $backgroundColor;
      padding: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      @include lores {
        width: 40%;
        padding: 0 10px;
        border-right: dashed 6px $backgroundColor;
      }
      @include mobile {
        width: 66%;
        padding: 0 10px;
        border-right: none;
      }
      @include xsmobile {
        width: 70%;
        padding: 0 10px;
        border-right: none;
      }
      &__image {
        width: 100%;
      }
      &__rating {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-top: 10px;
        i {
          background-color: $backgroundColor;
          font-size: 24px;
          color: $primaryColor;
          text-shadow: 0 0 5px $primaryColor;
          margin: 0 10px;
          @include smalldesk {
            font-size: 18px;
            margin: 0 5px;
          }
          @include lores {
            font-size: 18px;
            margin: 0 5px;
          }
          @include mobile {
            font-size: 16px;
            margin: 0 5px;
          }
          @include xsmobile {
            font-size: 14px;
            margin: 0 5px;
          }
          padding: 5px;
        }
      }
    }

    &__description {
      &__overview {
        width: 100%;
        color: $backgroundColor;
        font-size: 22px;
        font-weight: 700;
        text-indent: 5em;
        text-align: justify;
        @include lores {
          font-size: 18px;
        }
        @include mobile {
          font-size: 16px;
          font-weight: 600;
        }
        @include xsmobile {
          font-size: 14px;
          font-weight: 500;
        }
      }
      width: 75%;
      padding: 15px 0 0 25px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      @include lores {
        width: 60%;
        padding: 0 10px;
      }
      @include mobile {
        width: 95%;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-top: dashed 5px $backgroundColor;
      }
      @include xsmobile {
        width: 95%;
        margin: 0.5em 0;
        padding: 0.5em 0;
        border-top: dashed 5px $backgroundColor;
      }
      &__production {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        &__producers {
          width: 100%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          margin: 1em 0;
          &__list {
            width: 15%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 0.5em;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            img {
              width: 100%;
            }
            p {
              font-size: 18px;
              font-weight: 500;
              text-align: center;
              @include smalldesk {
                font-size: 16px;
              }
              @include lores {
                font-size: 16px;
              }
              @include mobile {
                font-size: 12px;
                font-weight: 400;
              }
              @include xsmobile {
                font-size: 12px;
                font-weight: 400;
              }
            }
          }
        }
      }
      &__countries {
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        @include lores {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 1em;
          margin-top: 2em;
        }
        @include mobile {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 1em;
          margin-top: 1em;
        }
        @include xsmobile {
          flex-direction: column;
          justify-content: space-around;
          align-items: center;
          gap: 1em;
          margin-top: 1em;
        }
        &__list {
          width: 20%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          flex-wrap: wrap;
          div {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
          }
          @include lores {
            flex-direction: row;
            width: 100%;
          }
          @include mobile {
            flex-direction: row;
            width: 100%;
          }
          @include xsmobile {
            flex-direction: row;
            width: 100%;
          }
          img {
            width: 22%;
            @include lores {
              width: 25%;
            }
          }
        }
        &__genres {
          width: 75%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
          -ms-flex-direction: row;
          flex-direction: row;
          flex-wrap: wrap;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-pack: distribute;
          justify-content: space-around;
          @include lores {
            width: 100%;
          }
          @include mobile {
            width: 100%;
          }
          @include xsmobile {
            width: 100%;
          }
          h6 {
            font-size: 26px;
            color: $backgroundColor;
            font-weight: 600;
            @include smalldesk {
              font-size: 24px;
            }
            @include lores {
              font-size: 20px;
              font-weight: 500;
            }
            @include mobile {
              font-size: 16px;
              font-weight: 400;
            }
            @include xsmobile {
              font-size: 14px;
              font-weight: 400;
            }
          }
        }
      }
    }
  }

  &__crew {
    width: 100%;
    padding: 0 15px;
    margin: 25px 0;
    display: flex;
    flex-direction: row;
    @include mobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    @include xsmobile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &__list {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 25px;
      @include mobile {
        align-items: center;
      }
      @include xsmobile {
        align-items: center;
      }
      .seeMore {
        color: $primaryColor;
        width: fit-content;
        height: fit-content;
        transform-origin: left;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        -webkit-transition: all 100ms ease-in-out;
        -o-transition: all 100ms ease-in-out;
        transition: all 100ms ease-in-out;
        &:hover {
          cursor: pointer;
          text-shadow: $primaryColor 0 0 15px;
          -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
        }
      }
      &__members {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &__unique {
          &__card {
            width: 150px;
            height: 300px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            border: solid 2px $primaryColor;
            background-color: $primaryColor;
            margin: 1em;
            -webkit-transition: all 100ms ease-in-out;
            -o-transition: all 100ms ease-in-out;
            transition: all 100ms ease-in-out;
            overflow: hidden;
            @include mobile {
              width: 120px;
              height: 240px;
            }
            @include xsmobile {
              width: 100px;
              height: 200px;
            }
            &__profile {
              width: 100%;
              height: 220px;
              overflow: hidden;
              &__image {
                width: 100%;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                transform: scale(1);
                -webkit-transform-origin: top;
                -ms-transform-origin: top;
                transform-origin: top;
                -webkit-transition: all 250ms ease-in-out;
                -o-transition: all 250ms ease-in-out;
                transition: all 250ms ease-in-out;
              }
            }
            &__name {
              margin: 5px 5px 0 5px;
              color: $backgroundColor;
              font-size: 18px;
              text-align: center;
              -webkit-transition: all 100ms ease-in-out;
              -o-transition: all 100ms ease-in-out;
              transition: all 100ms ease-in-out;
              @include smalldesk {
                font-size: 16px;
              }
              @include lores {
                font-size: 16px;
              }
              @include mobile {
                font-size: 16px;
              }
              @include xsmobile {
                font-size: 14px;
              }
            }
            &__character {
              margin: 5px 5px 0 5px;
              border-top: dashed 2px $backgroundColor;
              color: $backgroundColor;
              font-size: 16px;
              text-align: center;
              -webkit-transition: all 100ms ease-in-out;
              -o-transition: all 100ms ease-in-out;
              transition: all 100ms ease-in-out;
              @include smalldesk {
                font-size: 14px;
              }
              @include lores {
                font-size: 14px;
              }
              @include mobile {
                font-size: 14px;
              }
              @include xsmobile {
                font-size: 12px;
              }
            }
          }
          :hover {
            -webkit-box-shadow: 0 0 10px 2px $primaryColor;
            box-shadow: 0 0 10px 2px $primaryColor;
            img {
              -webkit-transform: scale(1.2);
              -ms-transform: scale(1.2);
              transform: scale(1.2);
            }
            cursor: pointer;
          }
        }
      }
    }
  }

  &__media {
    width: 100%;
    padding: 0 15px;
    background-color: $backgroundColor;
    margin: 25px 0;
    display: flex;
    flex-direction: column;
    &__block {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 22%;
      @include lores {
        margin-bottom: 48%;
      }
      @include mobile {
        margin-bottom: 48%;
      }
      @include xsmobile {
        margin-bottom: 48%;
      }
      &__tabsBlock {
        width: 100%;
        display: flex;
        height: 2.5em;
        flex-direction: row;
        justify-content: space-between;
        background-color: $primaryColor;
        @include mobile {
          height: 4em;
        }
        @include xsmobile {
          height: 4em;
        }
        &__tab {
          width: 25%;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          height: 100%;
          color: $backgroundColor;
          border: solid 2px $primaryColor;
          font-size: 20px;
          font-weight: 400;
          transition: all 70ms linear;
          @include lores {
            font-size: 18px;
            font-weight: 300;
          }
          @include mobile {
            width: 30%;
            font-size: 16px;
            font-weight: 300;
            text-align: center;
          }
          @include xsmobile {
            width: 30%;
            font-size: 14px;
            font-weight: 300;
            text-align: center;
          }
          &:hover {
            cursor: pointer;
            background-color: $backgroundColor;
            color: $primaryColor;
          }
          &__active {
            width: 50%;
            font-size: 24px;
            font-weight: 600;
            background-color: $backgroundColor;
            color: $primaryColor;
            @include lores {
              font-size: 22px;
              font-weight: 500;
            }
            @include mobile {
              width: 40%;
              font-size: 20px;
              font-weight: 400;
            }
            @include xsmobile {
              width: 40%;
              font-size: 18px;
              font-weight: 400;
            }
          }
        }
      }
      &__content {
        width: 100%;
        position: relative;
        // If no video is available, displays a message and a youtube search link
        span {
          color: $primaryColor;
          position: absolute;
          top: 5%;
          left: 5%;
          font-size: 18px;
          font-weight: 400;
          @include lores {
            font-size: 16px;
          }
          @include mobile {
            font-size: 14px;
          }
          @include xsmobile {
            font-size: 12px;
          }
        }
        p {
          color: $primaryColor;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 12%;
          left: 5%;
          font-size: 18px;
          font-weight: 400;
          @include lores {
            font-size: 16px;
          }
          @include mobile {
            font-size: 14px;
          }
          @include xsmobile {
            font-size: 12px;
          }
          a {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            font-size: 18px;
            font-weight: 400;
            color: white;
            transform: scale(1);
            transition: all 100ms linear;
            @include lores {
              font-size: 16px;
            }
            @include mobile {
              font-size: 14px;
            }
            @include mobile {
              font-size: 12px;
            }
            &:hover {
              transform: scale(1.1);
            }
            i {
              color: red;
              font-size: 22px;
              @include lores {
                font-size: 18px;
              }
              @include mobile {
                font-size: 16px;
              }
              @include xsmobile {
                font-size: 14px;
              }
            }
          }
        }

        &__trailer {
          width: 50%;
          height: 0;
          padding-bottom: 25%;
          border: solid 3px $primaryColor;
          overflow: hidden;
          position: absolute;
          z-index: 1;
          left: 0;
          transition: all 70ms 50ms linear;
          background-color: $backgroundColor;
          @include lores {
            width: 100%;
            padding-bottom: 50%;
          }
          @include mobile {
            width: 100%;
            padding-bottom: 50%;
          }
          @include xsmobile {
            width: 100%;
            padding-bottom: 50%;
          }
          iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }
          &__inactive {
            filter: blur(10px);
            z-index: -2;
            padding-bottom: 24%;
          }
        }
        &__posters {
          width: 50%;
          height: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          padding-bottom: 25%;
          overflow: hidden;
          overflow-y: scroll;
          // Firefox custom scrollbar
          scrollbar-width: thin;
          scrollbar-color: $primaryColor $backgroundColor;
          // Webkit custom scrollbar
          &::-webkit-scrollbar {
            width: 15px;
          }
          &::-webkit-scrollbar-track {
            background: $backgroundColor;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $backgroundColor;
            border: 3px solid $primaryColor;
            -webkit-box-shadow: inset 0 0 5px $primaryColor;
            box-shadow: inset 0 0 5px $primaryColor;
          }
          position: absolute;
          left: 25%;
          z-index: 1;
          border: solid 3px $primaryColor;
          background-color: $backgroundColor;
          transition: all 70ms 50ms linear;
          @include lores {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          @include mobile {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          @include xsmobile {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          &__inactive {
            filter: blur(10px);
            z-index: -1;
            padding-bottom: 24%;
          }
          &__unique {
            width: 30%;
            margin: 10px;
            border: solid 2px $primaryColor;
            overflow: hidden;
            transition: box-shadow 100ms ease-in-out;
            &:hover {
              cursor: pointer;
              box-shadow: 0px 0px 10px 2px $primaryColor;
              @include mobile {
                box-shadow: 0px 0px 5px 2px $primaryColor;
              }
              @include xsmobile {
                box-shadow: 0px 0px 5px 2px $primaryColor;
              }
              img {
                transform: scale(1.2);
              }
            }
            img {
              width: 100%;
              transform: scale(1);
              transform-origin: top;
              transition: all 250ms ease-in-out;
            }
          }
        }
        &__wallpapers {
          width: 50%;
          height: 0;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: flex-start;
          flex-wrap: wrap;
          padding-bottom: 25%;
          overflow: hidden;
          overflow-y: scroll;
          // Firefox custom scrollbar
          scrollbar-width: thin;
          scrollbar-color: $primaryColor $backgroundColor;
          // Webkit custom scrollbar
          &::-webkit-scrollbar {
            width: 15px;
          }
          &::-webkit-scrollbar-track {
            background: $backgroundColor;
          }
          &::-webkit-scrollbar-thumb {
            background-color: $backgroundColor;
            border: 3px solid $primaryColor;
            -webkit-box-shadow: inset 0 0 5px $primaryColor;
            box-shadow: inset 0 0 5px $primaryColor;
          }
          position: absolute;
          right: 0;
          z-index: 1;
          border: solid 3px $primaryColor;
          background-color: $backgroundColor;
          transition: all 70ms 50ms linear;
          @include lores {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          @include mobile {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          @include xsmobile {
            width: 100%;
            padding-bottom: 50%;
            left: 0;
          }
          &__inactive {
            filter: blur(10px);
            z-index: -2;
            padding-bottom: 24%;
          }
          &__unique {
            width: 30%;
            margin: 10px;
            border: solid 2px $primaryColor;
            overflow: hidden;
            transition: box-shadow 100ms ease-in-out;
            @include mobile {
              width: 40%;
            }
            @include xsmobile {
              width: 40%;
            }
            &:hover {
              cursor: pointer;
              box-shadow: 0px 0px 10px 2px $primaryColor;
              @include mobile {
                box-shadow: 0px 0px 5px 2px $primaryColor;
              }
              @include xsmobile {
                box-shadow: 0px 0px 5px 2px $primaryColor;
              }
              img {
                transform: scale(1.2);
              }
            }
            img {
              width: 100%;
              transform: scale(1);
              transform-origin: top;
              transition: all 250ms ease-in-out;
            }
          }
        }
      }
    }
  }
  &__tmdbLink {
    margin: 5em 0 -3em 3em;
    width: 50%;
    color: white;
    font-size: 20px;
    @include smalldesk {
      font-size: 14px;
    }
    @include lores {
      width: 60%;
      font-size: 14px;
      margin: 3em 0 -3em 3em;
    }
    @include mobile {
      width: 70%;
      font-size: 12px;
      margin: 3em 0 -3em 3em;
    }
    @include xsmobile {
      width: 80%;
      font-size: 12px;
      margin: 3em 0 -3em 2em;
    }
    font-weight: 500;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    &__logo {
      margin-left: 1em;
      border-radius: 2em;
      padding: 0.2em 0.3em;
      width: 12%;
      @include smalldesk {
        width: 15%;
      }
      @include lores {
        width: 25%;
      }
      @include mobile {
        width: 30%;
      }
      @include xsmobile {
        width: 30%;
      }
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      &::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border-radius: 2em;
        padding: 0.2em 0.3em;
        transform: scale(0);
        transition: all 150ms ease-in-out;
        z-index: -1;
      }
      &:hover {
        cursor: pointer;
        &::before {
          transform: scale(1);
          background-color: $primaryColor;
          box-shadow: 0px 0px 5px 1px $primaryColor;
        }
      }
      img {
        width: 100%;
      }
    }
  }
}

h5 {
  color: $primaryColor;
  font-size: 26px;
  font-weight: 800;
  text-align: left;
  margin-bottom: 10px;
  text-decoration: underline;
  @include smalldesk {
    font-size: 24px;
  }
  @include lores {
    font-size: 24px;
    font-weight: 700;
  }
  @include mobile {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  @include xsmobile {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
  }
}
