@import "../../variables";

.singleMovie {
  position: absolute;
  width: 100%;
  height: 75%;
  overflow: hidden;
  bottom: 0;
  padding: 0 10px;
  z-index: -2;
  &__title {
    color: $primaryColor;
    font-size: 60px;
    text-align: center;
    margin-bottom: 20px;
  }
  &__block {
    &__poster {
      color: white;
    }
    &__description {
      color: white;
      font-size: 20px;
    }
  }
}
