<div class="home">
  <!-- Main logo on home -->
  <div class="home__logo">
    <img src="assets/logo_screenlovers.png" />
    <h1>(Re)découvrez le cinéma</h1>
  </div>

  <!-- Welcome message explaining the main functions of the site -->
  <div class="home__welcomeMessage">
    <p>
      Bienvenue sur <strong>SCREENLOVERS</strong>, où néohpytes comme passionnés
      pourront (re)découvrir des milliers de films.
      <br />
      Vous trouverez sur chaque fiche de film de nombreuses informations, telles
      que le synopsis, la date de sortie, ou encore les évaluations, ainsi que
      des liens vers les fiches des acteurs, réalisateurs,...
    </p>
    <p>
      Vous pouvez rechercher un film ou une personnalité via la page de
      recherche, ou bien vous laisser surprendre par une œuvre au hasard, en
      cliquant sur le point d'interrogation!
    </p>
    <div class="home__welcomeMessage__links">
      <div class="home__welcomeMessage__links__unique" (click)="onDiscover()">
        <i class="fa-solid fa-circle-question"><p>Surprenez-moi!</p></i>
      </div>
      <div class="home__welcomeMessage__links__unique" (click)="onSearch()">
        <i class="fa-solid fa-magnifying-glass"><p>Recherche</p></i>
      </div>
    </div>
  </div>

  <!-- Featuring trending movies -->
  <div class="home__trending">
    <h3>TENDANCE FILMS</h3>
    <div
      class="home__trending__content"
      *ngIf="trendingMovies$ | async as trending"
    >
      <div class="home__trending__content__bar"></div>
      <div class="home__trending__content__list">
        <div
          class="home__trending__content__list__unique"
          *ngFor="let movie of trending"
        >
          <div
            class="home__trending__content__list__unique__poster"
            (click)="onGetMovie(movie.id)"
          >
            <img
              [src]="
                movie.poster_path
                  ? posterUrl + movie.poster_path
                  : 'assets/default_poster.png'
              "
              class="home__trending__content__list__unique__poster__image"
              [title]="movie.title"
            />
          </div>
        </div>
      </div>
      <div class="home__trending__content__bar"></div>
    </div>

    <h3>TENDANCE PERSONNALITES</h3>
    <div
      class="home__trending__content"
      *ngIf="trendingPeople$ | async as trending"
    >
      <div class="home__trending__content__bar"></div>
      <div class="home__trending__content__list">
        <div
          class="home__trending__content__list__unique"
          *ngFor="let people of trending"
        >
          <div
            class="home__trending__content__list__unique__poster"
            (click)="onGetPeople(people.id)"
          >
            <img
              [src]="
                people.profile_path
                  ? posterUrl + people.profile_path
                  : 'assets/default_profile.png'
              "
              class="home__trending__content__list__unique__poster__image"
              [title]="people.name"
            />
          </div>
        </div>
      </div>
      <div class="home__trending__content__bar"></div>
    </div>
  </div>
</div>
