<div class="home">
  <!-- Main logo on home -->
  <div class="home__logo">
    <img src="../../assets/logo_screenlovers.png" />
    <h1>(Re)découvrez le cinéma</h1>
  </div>

  <!-- Welcome message explaining the main functions of the site -->
  <div class="home__welcomeMessage">
    <p>
      Bienvenue sur <strong>SCREENLOVERS</strong>, où néohpytes comme passionnés
      pourront (re)découvrir des milliers de films.
      <br />
      Vous trouverez sur chaque fiche de film de nombreuses informations, telles
      que le synopsis, la date de sortie, ou encore les évaluations, ainsi que
      des liens vers les fiches des acteurs, réalisateurs,...
    </p>
    <p>
      Vous pouvez consulter les films par genre, effectuer une recherche par
      titre, ou bien vous laisser surprendre par une œuvre au hasard parmi les
      films sortis à la période actuelle au cours des 100 dernières années, en
      cliquant sur le point d'interrogation!
    </p>
  </div>

  <!-- Featuring trending movies -->
  <div class="home__trending">
    <h3>TRENDING MOVIES</h3>
    <div
      class="home__trending__content"
      *ngIf="trendingMovies$ | async as trending"
    >
      <div class="home__trending__content__bar"></div>
      <div class="home__trending__content__list">
        <div
          class="home__trending__content__list__unique"
          *ngFor="let movie of trending"
        >
          <div class="home__trending__content__list__unique__poster">
            <img
              [src]="posterUrl + movie.poster_path"
              class="home__trending__content__list__unique__poster__image"
            />
          </div>
          <p class="home__trending__content__list__unique__name">
            {{ movie.title }}
          </p>
        </div>
      </div>
      <div class="home__trending__content__bar"></div>
    </div>

    <h3>TRENDING PEOPLE</h3>
    <div
      class="home__trending__content"
      *ngIf="trendingPeople$ | async as trending"
    >
      <div class="home__trending__content__bar"></div>
      <div class="home__trending__content__list">
        <div
          class="home__trending__content__list__unique"
          *ngFor="let people of trending"
        >
          <div class="home__trending__content__list__unique__poster">
            <img
              [src]="posterUrl + people.profile_path"
              class="home__trending__content__list__unique__poster__image"
            />
          </div>
          <p class="home__trending__content__list__unique__name">
            {{ people.name }}
          </p>
        </div>
      </div>
      <div class="home__trending__content__bar"></div>
    </div>
  </div>
</div>
