<div class="home">
  <div class="home__logo">
    <img src="../../assets/logo_screenlovers.png" />
    <h1>(Re)découvrez le cinéma</h1>
  </div>

  <div class="home__welcomeMessage">
    <p>
      Bienvenue sur <strong>SCREENLOVERS</strong>, où néohpytes comme passionnés
      pourront (re)découvrir des milliers de films.
      <br />
      Vous trouverez sur chaque fiche de film de nombreuses informations, telles
      que le synopsis, la date de sortie, ou encore les évaluations, ainsi que
      des liens vers les fiches des acteurs, réalisateurs,...
    </p>
    <p>
      Vous pouvez consulter les films par genre, effectuer une recherche par
      titre, ou bien vous laisser surprendre par une œuvre au hasard parmi les
      films sortis à la période actuelle au cours des 100 dernières années, en
      cliquant sur le point d'interrogation!
    </p>
  </div>

  <div class="home__trending">
    <h3>TRENDING</h3>
  </div>
</div>
